/* ==========================================================================
   footer
   ========================================================================== */

.footer {
    background-color: var(--color-primary-darker);
    color: var(--color-primary-white);

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: var(--spacing-xl);
        align-items: center;
    }

    .footer_content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .contact_logo {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-lg);
        }

        .reseaux_sociaux {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-xs);
            margin-top: var(--spacing-xs);
        }

        .barre {
            transform: rotate(90deg);
            width: 12%;
            background-color: var(--color-white);
        }

        @media screen and (max-width: $breakpoint-md) {
            flex-direction: column;
            gap: var(--spacing-lg);

            .barre {
                transform: rotate(0);
            }
        }
    }

    .credits {
        text-align: center;
        width: 55%;
        font-size: 14px;
    }

    .menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-md);
        text-align: center;

        a {
            color: var(--color-white);
            font-weight: 700;
            position: relative;
            display: block;

            &:hover {
                color: var(--color-primary-light);
            }
        }
    }

    a {
        text-decoration: none;
        color: var(--color-primary-light);
        transition: $ease-out;
        height: 100%;
        display: inline-block;

        &:hover {
            color: var(--color-primary-white);
        }
    }

    @media screen and (max-width: $breakpoint-md) {
        .footer_content {
            .contact_logo {
                flex-direction: column;
                text-align: center;
                align-items: center;
            }

            .reseaux_sociaux {
                justify-content: center;
            }

            .menu {
                grid-template-columns: 1fr;
            }

            .barre {
                width: 50%;
            }
        }

        .credits {
            width: 100%;
        }
    }
}

.logo {
    color: var(--color-primary-light);
    transition: $ease-out;

    &:hover {
        color: var(--color-white);
    }
}
