/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #2F2F2F;

    // Couleurs du projet
    --color-primary-white: #DAE9F4;
    --color-primary-lighter: #4DDBFF;
    --color-primary-light: #31B4F2;
    --color-primary-default: #2F64BB;
    --color-primary-dark: #1C577C;
    --color-primary-darker: #133C56;
    --color-avertissement: #DB1F1F;
}
